@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background: #02061A;
    color: white;
}


/*----------------------------------------------HEADER--------------------------------------------------------------*/
.circle {
    background: rgba(84, 197, 173, 0.95);
    width: 590px;
    height: 594px;
    filter: blur(217px);
    position: absolute;
    left: 1px;
}

header {
    margin-top: 102px;
    margin-right: 187px;
    display: flex;
    justify-content: end;
    align-items: center;
    background: #02061A;
}

h1 {
    text-align: left;
    width: 522px;
    font-size: 60px;
    margin-top: 50px;
}

header nav a {
    text-decoration: none;
    margin: 0 25px;
    color: #FFF;
    font-size: 20px;
}

h4 {
    position: absolute;
    left: 30vh;
    top: 94px;
    color: #FFF;
    font-size: 27px;
}

.header-section {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #02061A;
    margin-top: 188px;
}

.header-section img {
    width: 467px;
    height: 461px;
}

.header-section button {
    padding: 10px 20px;
    margin: 10px;
    width: 256px;
    height: 95px;
    border-radius: 50px;
    background: #23263C;
    color: #FFF;
    text-align: center;
    font-size: 27px;
}

.header-section .btn {
    background: #02061A;
    border: 2px solid #23263C;
}


/*----------------------------------------------MAIN--------------------------------------------------------------*/
.top {
    color: #FFF;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 216px;
    margin-bottom: 10px;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #5BD2BD;
    background: #23263C;
    width: 1065px;
    height: 125px;
    color: #FFF;
    text-align: center;
    font-size: 27px;
    opacity: 0.5;
    font-weight: 700;
}


.featured div {
    margin: 0 60px;
    background-color: #1c2541;
    padding: 10px;
}

/*----------------------------------------------MAIN 2 section--------------------------------------------------------------*/
.content {
    display: flex;
    justify-content: center;
    margin-top: 256px;
}

.content .box {
    padding: 20px;
    width: 40%;
}

.content .box span {
    color: #56CAB1;
}

.fan {
    text-decoration-line: line-through;
    color: #ffffff !important;
}

.box-two {
    width: 521px;
    height: 132px;
    border-radius: 18px;
    background: #3A5B6A;
    margin-left: 91vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.content .box h2 {
    color: #FFF;
    font-size: 60px;
    margin-top: -20px;

}

.content .box p {
    color: #4C99BB;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content .box button {
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
    width: 126px;
    height: 68px;
    border-radius: 16px;
    border: 5px double #56CAB1;
    background: #02061A;
}

/*----------------------------------------------MAIN 3 section--------------------------------------------------------------*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #02061A;
    color: white;
    margin-top: 20vh;
    margin-right: 25vh;

}

.container span {
    color: #23263C;
}

.container h2 {
    color: #56CAB1;
    font-size: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #02061A;
    padding: 10px;
    font-weight: 700;

}

.container h3 {
    padding: 10px;
    color: #FFF;
    font-size: 35px;
    font-weight: 700;

}

.container button {
    width: 450px;
    height: 96px;
    border-radius: 100px;
    border: 3px solid rgba(84, 197, 173, 0.95);
    background: #1F143B;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #56CAB1;
    font-size: 50px;
    font-weight: 700;
    margin-top: 58px;
}

.container .image-container-two button {
    color: #52A7C6;
    font-size: 40px;
    border-radius: 3px;
    border: 2px solid #000;
    background: #1F143B;
    width: 147px;
    height: 51px;
    margin: 0;
}

.image-container {
    transform: rotate(-25.689deg);
    border-radius: 10px;
    background: rgba(69, 69, 84, 255);
}

.image-container-two {
    border-radius: 10px;
    background: rgba(69, 69, 84, 0.80);
    z-index: 1;
    right: 25vh;
    margin-bottom: -20vh;
    margin-left: -10vh;
    margin-right: -30vh;

}

.container img {
    width: 380px;
    height: 323px;
}

.text {
    margin-bottom: -50vh;
    margin-right: -8vh;
}

/*----------------------------------------------MAIN 4 section--------------------------------------------------------------*/
.client-side {
    text-align: center;
    padding: 50px 20px;
    background: #02061A;
    margin-top: 40vh;
}

.client-side h3 {
    color: #5BD2BF;
    font-size: 30px;
    font-weight: 700;
}

.client-side h2 {
    color: #FFF;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

.client-side p {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.client-side .clients {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.client-side .clients h3 {
    color: #FFF;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 20px;
}

.client-side .client {
    background-color: rgb(40, 44, 60);
    padding: 20px;
    border-radius: 10px;
    width: 345px;
    height: 360px;
    text-align: center;
    margin-top: 100px;
}

.client-side .client img {
    width: 155px;
    height: 150px;
    border-radius: 50%;
    margin-top: -85px;
    mix-blend-mode: luminosity;
}


.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}


/*----------------------------------------------MAIN 5 section--------------------------------------------------------------*/
.project-call h2 {
    color: #FFF;
    font-size: 60px;
    margin-top: 25px;
}

.project-call {
    width: 1063px;
    height: 378px;
    border-radius: 20px;
    background: linear-gradient(97deg, #1F143B -19.45%, #3C8273 103.56%);
    justify-content: center;
    align-items: center;
}

.project-call button {
    padding: 15px 30px;
    width: 344px;
    height: 85px;
    border-radius: 50px;
    background: #000;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}

/*----------------------------------------------FOOTER--------------------------------------------------------------*/
footer {
    text-align: center;
    padding: 20px;
    background: #02061A;
}

footer .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    font-size: 0.9em;
}

.footer-content .crpt {
    text-decoration-line: line-through;
}

footer .footer-content div {
    margin-left: 10px;
    text-align: left;
}

footer .foot {
    text-align: center;
}

footer .foot input {
    padding: 10px;
    border-radius: 50px;
    border: none;
    margin-right: 10px;
    background: #3B7C70;
    margin-top: 10px;
}

input::placeholder {
    color: white;
}

footer .foot button {
    padding: 10px 20px;
    border: none;
    background: #262E48;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    margin-left: -75px;
}

footer p {
    padding-top: 19px;
    text-align: left;
}
